<header class="site-header">
  <div class="site-header__container">
    <a class="site-header__brand" routerLink="/" aria-label="Home" (click)="closeMobileMenu()">



      <span class="site-header__brand-content">
        <img class="site-header__logo" src="/assets/images/navstreet.svg" alt="NavStreet">
      </span>
    </a>

    <app-navigation class="site-header__navigation" [isMobileMenuOpen]="isMobileMenuOpen()"
      (navigationSelected)="closeMobileMenu()" />

    <div class="site-header__actions">
      <a class="site-header__login" routerLink="/login">
        Log in
      </a>

      <a class="site-header__signup" routerLink="/register">
        Get started
      </a>
    </div>

    <button class="site-header__menu-button" type="button" [attr.aria-expanded]="isMobileMenuOpen()"
      aria-label="Toggle navigation menu" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>